<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.domain.book.BookMapper">
    <resultMap id="BaseResultMap" type="hello.domain.book.Book">
        <result column="id" property="id"/>
        <result column="book_name" property="bookName"/>
        <result column="book_price" property="bookPrice"/>
    </resultMap>


    <select id="queryBookById" resultMap="BaseResultMap">
        SELECT
            id,
            book_name,
            book_price
        FROM book
        WHERE id = #{id}
    </select>

</mapper>